@use "../styles/variables.scss" as v;

.LayoutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;

  &_light {
    background: v.$bg-light;
  }

  &_dark {
    background: v.$bg-dark;
  }
}
