// colors light mode
$bg-light: #fbf0e3;
$primary-light: #9F1934;
$secondary-light: #FCFAFA;
$tertiary-light: #ffffff;

// colors dark mode
$bg-dark: #4b0a23;
$primary-dark: #ff4c2f;
$secondary-dark: #f9f4e0;
$tertiary-dark: #fafbff;

$text-light: #fafbff;
$text-dark: #080705;
// font size
$xxl: 48px;
$xl: 36px;
$lg: 30px;
$md: 24px;
$sm: 20px;
$xs: 16px;
